.container {
	background-image: url('/images/bg-1.jpg');
	background-size: cover;
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container img {
	width: 400px;
}

@media (max-width: 1570px) {
	.container {
		background-image: url('/images/bg.jpg');
	}
}

@media (max-width: 768px) {
	.container {
		height: 200px;
	}
	.container img {
		width: 300px;
	}
}
