.dataBoxsContainer {
	display: flex;
	justify-content: center;
	background: #ffffff;
	padding: 0 20px;
	color: #333333;
}

.dark {
	background-color: #1a1f22;
	color: #ffffff;
}

@media (max-width: 768px) {
	.dataBoxsContainer {
		flex-direction: column;
		align-items: center;
	}
}
