body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: sans-serif;
	text-align: center;
}

.AppContent {
	max-width: 60%;
	display: flex;
	flex-flow: column;
	margin: 10px auto 40px;
	padding: 0 20px;
}
