.dataBoxContainer {
	width: 300px;
	padding: 20px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.dataBoxContainer + .dataBoxContainer {
	border-left: 1px solid #c2bfbf;
}

.categoryBox {
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
	.dataBoxContainer + .dataBoxContainer {
		border-left: none;
		border-top: 1px solid #c2bfbf;
	}
}
